# Unit 2 Day 3 & 4
## Lambda Functions

In [1]:
add_two = lambda my_input: my_input + 2
print(add_two(3))
print(add_two(100))
print(add_two(-2))

is_substring = lambda my_string: my_string in "This is the master string"
print(is_substring('I'))
print(is_substring('am'))
print(is_substring('the'))
print(is_substring('master'))

check_if_A_grade = lambda grade: 'Got an A!' if grade >= 90 else 'Did not get an A...'
print(check_if_A_grade(91))
print(check_if_A_grade(70))
print(check_if_A_grade(20))

5
102
0
False
False
True
True
Got an A!
Did not get an A...
Did not get an A...

## Creating, Loading, and Manipulating Data with Pandas
Firstly, import pandas

In [2]:
import pandas as pd

## Create a DataFrame
* Use dictionary
  * The order is not the same as defined in the DataFrame.
* Use list
  * Use `columns=[name1, name2, ...]` to define column name.
  * The order is the same as defined in DataFrame.
* Read from CSV file
  * Use `pd.read_csv()`

In [3]:
# Use dictionary
df1 = pd.DataFrame({
    'name': ['John Smith', 'Jane Doe', 'Joe Schmo'],
    'address': ['123 Main St.', '456 Maple Ave.', '789 Broadway'],
    'age': [34, 28, 51]
})

print(df1)

# Use dictionary
df1 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],
  # add Product Name and Color here
  'Product Name': ['t-shirt', 't-shirt', 'skirt', 'skirt'],
  'Color':['blue', 'green', 'red', 'black']
})

print(df1)

# Use list
df2 = pd.DataFrame([
    ['John Smith', '123 Main St.', 34],
    ['Jane Doe', '456 Maple Ave.', 28],
    ['Joe Schmo', '789 Broadway', 51]
    ],
    columns=['name', 'address', 'age'])
print(df2)

# Use list
df2 = pd.DataFrame([
  [1, 'San Diego', 100],
  [2, 'Los Angeles', 120],
  # Fill in rows 3 and 4
  [3, 'San Francisco', 90],
  [4, 'Sacramento', 115]
],
  columns=[
    #add column names here
    'Store ID', 'Location', 'Number of Employees'
  ])

print(df2)

# Read from CSV file
df = pd.read_csv('unit2_sample.csv')
print(df)

         name         address  age
0  John Smith    123 Main St.   34
1    Jane Doe  456 Maple Ave.   28
2   Joe Schmo    789 Broadway   51
   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black
         name         address  age
0  John Smith    123 Main St.   34
1    Jane Doe  456 Maple Ave.   28
2   Joe Schmo    789 Broadway   51
   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115
            City  Population  Median Age
0      Maplewood      100000          40
1          Wayne      350000          33
2  Forrest Hills      300000          35
3        Paramus      400000          55
4     Hackensack      290000          39

### Inspect a DataFrame
* The method `df.head()` gives the first 5 rows of a DataFrame.
* The method `df.info()` gives some statistics for each column.

In [4]:
df = pd.read_csv('unit2_imdb.csv')
print(df.head())
print(df.info())

   id                                       name   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
id             220 non-null int64
name           220 non-null object
genre          220 non-null object
year           220 non-null int64
imdb_rating    220 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 8.7+ KB
None

### Select column
* Use `df.[name]` to select a column
* Use `df[ [name1, name2, ...] ]` to select multiple columns

### Select rows
* Use `df.iloc[index]` to select a row.
* Uze `df.iloc[start:end]` to select multiple rows.

### Select Rows with Logic
* Use `==`, `>`, `<`, `!=`, `|`, `&`, `.isin()`

### Setting indices
* Use `reset_index()`
* Use `drop=True` to drop old index.
* Use `inplace=True` to modify existing DataFrame.

In [5]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)
print(df)

# Select Columns
clinic_north = df['clinic_north']
print(type(clinic_north)) # not a DataFrame
print(clinic_north)
print(type(df))

# Selecting Multiple Columns
clinic_north_south = df[['clinic_north', 'clinic_south']]
print(type(clinic_north_south)) # is a DataFrame
print(clinic_north_south)

# Select Rows
march = df.iloc[2]
print(march)

# Selecting Multiple Rows
april_may_june = df.iloc[3:]
print(april_may_june)

# Select Rows with Logic
january = df[df.month == 'January']
print(january)

march_april = df[(df.month == 'March') | (df.month == 'April')]
print(march_april)

january_february_march = df[df.month.isin(['January', 'February', 'March'])]
print(january_february_march)

# Setting indices
df2 = df.loc[[1, 3, 5]]
print(df2)

df3 = df2.reset_index()
print(df2)
print(df3) # contains old and new indies

df3 = df2.reset_index(inplace=True, drop=True)
print(df2) # Modify the existing DataFrame
print(df3)

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96
3     April           80            80            54          180
4       May           51            54            54          154
5      June          112           109            79          129
<class 'pandas.core.series.Series'>
0    100
1     45
2     96
3     80
4     54
5    109
Name: clinic_north, dtype: int64
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
   clinic_north  clinic_south
0           100            23
1            45           145
2            96            65
3            80            54
4            54            54
5           109            79
month           March
clinic_east        81
clinic_north       96
clinic_south       65
clinic_west        96
Name: 2, dtype: object
   month  clinic_east  clinic_north  clinic_south  clinic_west
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129
     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100
   month  clinic_east  clinic_north  clinic_south  clinic_west
2  March           81            96            65           96
3  April           80            80            54          180
      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96
      month  clinic_east  clinic_north  clinic_south  clinic_west
1  February           51            45           145           45
3     April           80            80            54          180
5      June          112           109            79          129
      month  clinic_east  clinic_north  clinic_south  clinic_west
1  February           51            45           145           45
3     April           80            80            54          180
5      June          112           109            79          129
   index     month  clinic_east  clinic_north  clinic_south  clinic_west
0      1  February           51            45           145           45
1      3     April           80            80            54          180
2      5      June          112           109            79          129
      month  clinic_east  clinic_north  clinic_south  clinic_west
0  February           51            45           145           45
1     April           80            80            54          180
2      June          112           109            79          129
None

In [6]:
#Part 1: reading the csv
orders = pd.read_csv('unit2_shoefly.csv')

#Part 2: inspecting the first five lines of data
print(orders.head(5))

#Part 3: selecting the column 'email'
emails = orders.email
print(emails)

#Part 4: the Frances Palmer incident
frances_palmer = orders[(orders.first_name == 'Frances') & (orders.last_name == 'Palmer')]
print(frances_palmer)

#Part 5: Comfy feet means more time on the street
comfy_shoes = orders[orders.shoe_type.isin(['clogs', 'boots', 'ballet flats'])]
print(comfy_shoes)

      id first_name last_name  gender                         email  \
0  54791    Rebecca   Lindsay  female  RebeccaLindsay57@hotmail.com
1  53450      Emily     Joyce  female        EmilyJoyce25@gmail.com
2  91987      Joyce    Waller  female        Joyce.Waller@gmail.com
3  14437     Justin  Erickson    male   Justin.Erickson@outlook.com
4  79357     Andrew     Banks    male              AB4318@gmail.com

      shoe_type shoe_material shoe_color
0         clogs  faux-leather      black
1  ballet flats  faux-leather       navy
2       sandles        fabric      black
3         clogs  faux-leather        red
4         boots       leather      brown
0     RebeccaLindsay57@hotmail.com
1           EmilyJoyce25@gmail.com
2           Joyce.Waller@gmail.com
3      Justin.Erickson@outlook.com
4                 AB4318@gmail.com
5           JulieMarsh59@gmail.com
6                 TJ5470@gmail.com
7           Janice.Hicks@gmail.com
8        GabrielPorter24@gmail.com
9        FrancesPalmer50@gmail.com
10         JessicaHale25@gmail.com
11      LawrenceParker44@gmail.com
12         SusanDennis58@gmail.com
13                DO2680@gmail.com
14       Rebecca.Charles@gmail.com
15              JC2072@hotmail.com
16              VS4753@outlook.com
17          RoyTillman20@gmail.com
18       Thomas.Roberson@gmail.com
19         ANewton1977@outlook.com
Name: email, dtype: object
      id first_name last_name  gender                      email shoe_type  \
9  62083    Frances    Palmer  female  FrancesPalmer50@gmail.com    wedges

  shoe_material shoe_color
9       leather      white
       id first_name   last_name  gender                         email  \
0   54791    Rebecca     Lindsay  female  RebeccaLindsay57@hotmail.com
1   53450      Emily       Joyce  female        EmilyJoyce25@gmail.com
3   14437     Justin    Erickson    male   Justin.Erickson@outlook.com
4   79357     Andrew       Banks    male              AB4318@gmail.com
6   20487     Thomas      Jensen    male              TJ5470@gmail.com
7   76971     Janice       Hicks  female        Janice.Hicks@gmail.com
8   21586    Gabriel      Porter    male     GabrielPorter24@gmail.com
10  91629    Jessica        Hale  female       JessicaHale25@gmail.com
12  45832      Susan      Dennis  female       SusanDennis58@gmail.com
14  73431    Rebecca     Charles  female     Rebecca.Charles@gmail.com
16  39888    Vincent  Stephenson    male            VS4753@outlook.com
17  35961        Roy     Tillman    male        RoyTillman20@gmail.com

       shoe_type shoe_material shoe_color
0          clogs  faux-leather      black
1   ballet flats  faux-leather       navy
3          clogs  faux-leather        red
4          boots       leather      brown
6          clogs        fabric       navy
7          clogs  faux-leather       navy
8          clogs       leather      brown
10         clogs       leather        red
12  ballet flats        fabric      white
14         boots  faux-leather      white
16         boots       leather      black
17         boots       leather      white

# Unit 2 Day 5
## Modifying DataFrames in Pandas
### Add a new column

In [7]:
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)
print(df)

# Add columns here
df['Sold in Bulk?'] = ['Yes', 'Yes', "No", 'No']
print(df)

df['Is taxed?'] = 'Yes'
print(df)

df['Revenue'] = df.Price - df['Cost to Manufacture']
print(df)

   Product ID   Description  Cost to Manufacture  Price
0           1  3 inch screw                  0.5   0.75
1           2   2 inch nail                  0.1   0.25
2           3        hammer                  3.0   5.50
3           4   screwdriver                  2.5   3.00
   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No
   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?  \
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

  Is taxed?
0       Yes
1       Yes
2       Yes
3       Yes
   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?  \
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

  Is taxed?  Revenue
0       Yes     0.25
1       Yes     0.15
2       Yes     2.50
3       Yes     0.50

### Column Operations
* Use `apply()` to apply on all values in a column

In [8]:
#from string import lower

df = pd.DataFrame([
  ['JOHN SMITH', 'john.smith@gmail.com'],
  ['Jane Doe', 'jdoe@yahoo.com'],
  ['joe schmo', 'joeschmo@hotmail.com']
],
columns=['Name', 'Email'])
print(df)

# Add columns here
#df['Lowercase Name'] = df.Name.apply(lower) # This line works in Codecademy but not works in jupyter notebook
df['Lowercase Name'] = df.Name.str.lower() # This works in jupyter notebook
print(df)

df['Email Provider'] = df.Email.apply(
    lambda x: x.split('@')[-1]
    )
print(df)

         Name                 Email
0  JOHN SMITH  john.smith@gmail.com
1    Jane Doe        jdoe@yahoo.com
2   joe schmo  joeschmo@hotmail.com
         Name                 Email Lowercase Name
0  JOHN SMITH  john.smith@gmail.com     john smith
1    Jane Doe        jdoe@yahoo.com       jane doe
2   joe schmo  joeschmo@hotmail.com      joe schmo
         Name                 Email Lowercase Name Email Provider
0  JOHN SMITH  john.smith@gmail.com     john smith      gmail.com
1    Jane Doe        jdoe@yahoo.com       jane doe      yahoo.com
2   joe schmo  joeschmo@hotmail.com      joe schmo    hotmail.com

### lambda function
* If Statements:
  `lambda x: [OUTCOME IF TRUE] \
    if [CONDITIONAL] \
    else [OUTCOME IF FALSE]`

In [9]:
mylambda = lambda x: (x * 2) + 3
print(mylambda(5))

stringlambda = lambda x: x.lower()
print(stringlambda("Oh Hi Mark!"))

mylambda = lambda x: x[0] + x[len(x)-1]
print(mylambda('This is a string'))

# If Statements
myfunction = lambda x: 40 + (x - 40) * 1.50 \
    if x > 40 else x
    
mylambda = lambda x: 'Welcome to BattleCity!' if x >= 13 else 'You must be over 13'

13
oh hi mark!
Tg

### Applying a Lambda to a Column

In [10]:
df = pd.read_csv('unit2_employees.csv')

# Add columns here
get_last_name = lambda x: x.split()[-1]
df['last_name'] = df.name.apply(get_last_name)
print(df)

       id               name  hourly_wage  hours_worked  last_name
0   10310      Lauren Durham           19            43     Durham
1   18656      Grace Sellers           17            40    Sellers
2   61254  Shirley Rasmussen           16            30  Rasmussen
3   16886        Brian Rojas           18            47      Rojas
4   89010    Samantha Mosley           11            38     Mosley
5   87246       Louis Guzman           14            39     Guzman
6   20578     Denise Mcclure           15            40    Mcclure
7   12869      James Raymond           15            32    Raymond
8   53461       Noah Collier           18            35    Collier
9   14746    Donna Frederick           20            41  Frederick
10  71127       Shirley Beck           14            32       Beck
11  92522    Christina Kelly            8            44      Kelly
12  22447        Brian Noble           11            39      Noble
13  61654          Randy Key           16            38        Key
14  16988      Diana Stewart           14            48    Stewart
15  68619       Timothy Sosa           14            42       Sosa
16  59949      Betty Skinner           11            48    Skinner
17  81418      Janet Maxwell           12            38    Maxwell
18  27267   Madison Johnston           20            37   Johnston
19  19985   Virginia Nichols           13            49    Nichols

### Applying a Lambda to a Row
* Use `row.column_name` or `row[‘column_name’]` to access particular values of the row.
* Use argument `axis=1` in `apply()` to indicate this is a row operation.

In [11]:
total_earned = lambda row: (row.hourly_wage * 40) + ((row.hourly_wage * 1.5) * (row.hours_worked - 40)) \
	if row.hours_worked > 40 \
  else row.hourly_wage * row.hours_worked
  
df['total_earned'] = df.apply(total_earned, axis = 1)
print(df)

       id               name  hourly_wage  hours_worked  last_name  \
0   10310      Lauren Durham           19            43     Durham
1   18656      Grace Sellers           17            40    Sellers
2   61254  Shirley Rasmussen           16            30  Rasmussen
3   16886        Brian Rojas           18            47      Rojas
4   89010    Samantha Mosley           11            38     Mosley
5   87246       Louis Guzman           14            39     Guzman
6   20578     Denise Mcclure           15            40    Mcclure
7   12869      James Raymond           15            32    Raymond
8   53461       Noah Collier           18            35    Collier
9   14746    Donna Frederick           20            41  Frederick
10  71127       Shirley Beck           14            32       Beck
11  92522    Christina Kelly            8            44      Kelly
12  22447        Brian Noble           11            39      Noble
13  61654          Randy Key           16            38        Key
14  16988      Diana Stewart           14            48    Stewart
15  68619       Timothy Sosa           14            42       Sosa
16  59949      Betty Skinner           11            48    Skinner
17  81418      Janet Maxwell           12            38    Maxwell
18  27267   Madison Johnston           20            37   Johnston
19  19985   Virginia Nichols           13            49    Nichols

    total_earned
0          845.5
1          680.0
2          480.0
3          909.0
4          418.0
5          546.0
6          600.0
7          480.0
8          630.0
9          830.0
10         448.0
11         368.0
12         429.0
13         608.0
14         728.0
15         602.0
16         572.0
17         456.0
18         740.0
19         695.5

### Rename column
* Use `df.columns = ['name1', 'name2', ...]`
* Use `df.rename(columns={'old_name1' : 'new_name1', 'old_name2':'new_name2', ...}, inplace=True)`.
  * The argument `inplace=True` means to edit the original DataFrame.

In [12]:
df = pd.DataFrame({
    'name': ['John', 'Jane', 'Sue', 'Fred'],
    'age': [23, 29, 21, 18]
})
print(df)

df.columns = ['First Name', 'Age']
print(df)

   name  age
0  John   23
1  Jane   29
2   Sue   21
3  Fred   18
  First Name  Age
0       John   23
1       Jane   29
2        Sue   21
3       Fred   18

In [13]:
df = pd.read_csv('unit2_imdb.csv')
print(df.head())

# Rename columns here
df.columns = ['ID', 'Title', 'Category', 'Year Released', 'Rating']
#print(df)
print(df.head())

df = pd.read_csv('unit2_imdb.csv')

# Rename columns here
df.rename(columns={'name':'movie_title'},inplace=True)
#print(df)
print(df.head())

   id                                       name   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6
   ID                                      Title Category  Year Released  \
0   1                                     Avatar   action           2009
1   2                             Jurassic World   action           2015
2   3                               The Avengers   action           2012
3   4                            The Dark Knight   action           2008
4   5  Star Wars: Episode I - The Phantom Menace   action           1999

   Rating
0     7.9
1     7.3
2     8.1
3     9.0
4     6.6
   id                                movie_title   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6

In [14]:
orders = pd.read_csv('unit2_shoefly.csv')

print(orders.head(5))

orders['shoe_source'] = orders.shoe_material.apply(lambda x: 'animal' if x == 'leather'else 'vegan')

orders['salutation'] = orders.apply(lambda row: \
'Dear Mr. ' + row['last_name']\
if row['gender'] == 'male'\
else 'Dear Ms. ' + row['last_name'],\
axis=1)

#print(orders)
print(orders.head())

      id first_name last_name  gender                         email  \
0  54791    Rebecca   Lindsay  female  RebeccaLindsay57@hotmail.com
1  53450      Emily     Joyce  female        EmilyJoyce25@gmail.com
2  91987      Joyce    Waller  female        Joyce.Waller@gmail.com
3  14437     Justin  Erickson    male   Justin.Erickson@outlook.com
4  79357     Andrew     Banks    male              AB4318@gmail.com

      shoe_type shoe_material shoe_color
0         clogs  faux-leather      black
1  ballet flats  faux-leather       navy
2       sandles        fabric      black
3         clogs  faux-leather        red
4         boots       leather      brown
      id first_name last_name  gender                         email  \
0  54791    Rebecca   Lindsay  female  RebeccaLindsay57@hotmail.com
1  53450      Emily     Joyce  female        EmilyJoyce25@gmail.com
2  91987      Joyce    Waller  female        Joyce.Waller@gmail.com
3  14437     Justin  Erickson    male   Justin.Erickson@outlook.com
4  79357     Andrew     Banks    male              AB4318@gmail.com

      shoe_type shoe_material shoe_color shoe_source         salutation
0         clogs  faux-leather      black       vegan   Dear Ms. Lindsay
1  ballet flats  faux-leather       navy       vegan     Dear Ms. Joyce
2       sandles        fabric      black       vegan    Dear Ms. Waller
3         clogs  faux-leather        red       vegan  Dear Mr. Erickson
4         boots       leather      brown      animal     Dear Mr. Banks

# Unit 2 Day 6 & 7
## Project: Petal Power
### Petal Power Inventory

In [15]:
import pandas as pd
# 1
inventory = pd.read_csv('unit2_inventory.csv')
#print(inventory)
# 2
print(inventory.head(10))
# 3
staten_island = inventory.iloc[0:10] # select first 10 rows
print(staten_island)
# 4
product_request = staten_island['product_description']
print(product_request)
# 5
seed_request = inventory[(inventory['location'] == 'Brooklyn') & (inventory['product_type'] == 'seeds')]
print(seed_request)
# 6
inventory['in_stock'] = inventory.quantity.apply(lambda quantity: True if quantity > 0 else False)
print(inventory)
# 7
total_value = inventory.price * inventory.quantity
#print(total_value)
# 8
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)
# 9
inventory['full_description'] = inventory.apply(combine_lambda, axis=1)
#print(inventory.head(10))

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99
        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99
0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object
    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99
         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    in_stock
0       True
1       True
2       True
3       True
4      False
5       True
6       True
7       True
8      False
9       True
10      True
11     False
12     False
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26     False
27      True
28      True

# Unit 2 Day 8
## Aggregates in Pandas
* Use `df.column_name.command()`

|Command|Description|
|:--|:--|
|mean|Average of all values in column|
|std|Standard deviation|
|median|Median|
|max|Maximum value in column|
|min|Minimum value in column|
|count|Number of values in column|
|nunique|Number of unique values in column|
|unique|List of unique values in column|
* Use `df.groupby('column1').column2.measurement()`
* Use `.reset_index()` to get a DataFrame
  * `df.groupby('column1').column2.measurement().reset_index()`
* Use `apply()` and lambda function

In [16]:
orders = pd.read_csv('unit2_orders.csv')
print(orders.head(10))
most_expensive = orders.price.max()
num_colors = orders.shoe_color.nunique()
print(most_expensive)
print(num_colors)

pricey_shoes = orders.groupby('shoe_type').price.max()
print(pricey_shoes)
print(type(pricey_shoes)) # not a DataFrame

pricey_shoes = orders.groupby('shoe_type').price.max().reset_index()
print(pricey_shoes)
print(type(pricey_shoes)) # is a DataFrame

# Use the apply method and lambda functions
import numpy as np
cheap_shoes = orders.groupby('shoe_color').price.apply(lambda x: np.percentile(x, 25)).reset_index()
print(cheap_shoes)

# Group by more than one column
shoe_counts = orders.groupby(['shoe_type', 'shoe_color']).id.count().reset_index()
print(shoe_counts)

      id first_name    last_name                         email     shoe_type  \
0  41874       Kyle         Peck          KylePeck71@gmail.com  ballet flats
1  31349  Elizabeth    Velazquez      EVelazquez1971@gmail.com         boots
2  43416      Keith     Saunders              KS4047@gmail.com       sandles
3  56054       Ryan      Sweeney     RyanSweeney14@outlook.com       sandles
4  77402      Donna  Blankenship              DB3807@gmail.com     stilettos
5  97148     Albert       Dillon       Albert.Dillon@gmail.com        wedges
6  19998     Judith       Hewitt      JudithHewitt98@gmail.com     stilettos
7  83290      Kayla       Hardin        Kayla.Hardin@gmail.com     stilettos
8  77867     Steven  Blankenship  Steven.Blankenship@gmail.com        wedges
9  54885      Carol   Mclaughlin              CM3415@gmail.com  ballet flats

  shoe_material shoe_color  price
0  faux-leather      black  385.0
1        fabric      brown  388.0
2       leather       navy  346.0
3        fabric      brown  344.0
4        fabric      brown  289.0
5        fabric      brown  266.0
6       leather      black  395.0
7       leather      white  241.0
8       leather       navy  266.0
9  faux-leather      brown  440.0
493.0
5
shoe_type
ballet flats    481.0
boots           478.0
clogs           493.0
sandles         456.0
stilettos       487.0
wedges          461.0
Name: price, dtype: float64
<class 'pandas.core.series.Series'>
      shoe_type  price
0  ballet flats  481.0
1         boots  478.0
2         clogs  493.0
3       sandles  456.0
4     stilettos  487.0
5        wedges  461.0
<class 'pandas.core.frame.DataFrame'>
  shoe_color  price
0      black    NaN
1      brown  193.5
2       navy  205.5
3        red  250.0
4      white  196.0
       shoe_type shoe_color  id
0   ballet flats      black   2
1   ballet flats      brown   5
2   ballet flats        red   3
3   ballet flats      white   5
4          boots      black   3
5          boots      brown   5
6          boots       navy   6
7          boots        red   2
8          boots      white   3
9          clogs      black   4
10         clogs      brown   6
11         clogs       navy   1
12         clogs        red   4
13         clogs      white   1
14       sandles      black   1
15       sandles      brown   4
16       sandles       navy   5
17       sandles        red   3
18       sandles      white   4
19     stilettos      black   5
20     stilettos      brown   3
21     stilettos       navy   2
22     stilettos        red   2
23     stilettos      white   2
24        wedges      black   3
25        wedges      brown   4
26        wedges       navy   4
27        wedges        red   5
28        wedges      white   2

/usr/local/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:4291: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

### pivot table
`df.pivot(columns='ColumnToPivot',
         index='ColumnToBeRows',
         values='ColumnToBeValues')`

In [17]:
orders = pd.read_csv('unit2_orders.csv')

shoe_counts = orders.groupby(['shoe_type', 'shoe_color']).id.count().reset_index()
shoe_counts_pivot = shoe_counts.pivot(columns='shoe_color',
index='shoe_type',values='id').reset_index()
print(shoe_counts_pivot)

shoe_color     shoe_type  black  brown  navy  red  white
0           ballet flats    2.0    5.0   NaN  3.0    5.0
1                  boots    3.0    5.0   6.0  2.0    3.0
2                  clogs    4.0    6.0   1.0  4.0    1.0
3                sandles    1.0    4.0   5.0  3.0    4.0
4              stilettos    5.0    3.0   2.0  2.0    2.0
5                 wedges    3.0    4.0   4.0  5.0    2.0

In [18]:
user_visits = pd.read_csv('unit2_page_visits.csv')
# 1
print(user_visits.head())
# 2
click_source = user_visits.groupby('utm_source').id.count().reset_index()
# 3
print(click_source)
# 4
click_source_by_month = user_visits .groupby(['utm_source','month']).id.count().reset_index()
click_source_by_month_pivot = click_source_by_month.pivot(columns="month",index='utm_source',values='id').reset_index()
print(click_source_by_month_pivot)

      id first_name last_name                       email         month  \
0  10043      Louis      Koch       LouisKoch43@gmail.com     3 - March
1  10150      Bruce      Webb     BruceWebb44@outlook.com     3 - March
2  10155   Nicholas   Hoffman  Nicholas.Hoffman@gmail.com  2 - February
3  10178    William       Key     William.Key@outlook.com     3 - March
4  10208      Karen      Bass            KB4971@gmail.com  2 - February

  utm_source
0      yahoo
1    twitter
2     google
3      yahoo
4     google
  utm_source   id
0      email  462
1   facebook  823
2     google  543
3    twitter  415
4      yahoo  757
month utm_source  1 - January  2 - February  3 - March
0          email           43           147        272
1       facebook          404           263        156
2         google          127           196        220
3        twitter          164           154         97
4          yahoo          262           240        255

# Unit 2 Day 9 & 10
## Project: A/B Testing for ShoeFly.com

In [19]:
import pandas as pd

ad_clicks = pd.read_csv('unit2_ad_clicks.csv')
# 1
print(ad_clicks.head())
# 2
ad_clicks.groupby('utm_source').user_id.count().reset_index()
#print(ad_clicks.groupby('utm_source').user_id.count().reset_index())
# 3
ad_clicks['is_click'] = ~ad_clicks.ad_click_timestamp.isnull()
#print(ad_clicks)
# 4
clicks_by_source = ad_clicks.groupby(['utm_source', 'is_click']).user_id.count().reset_index()
#print(clicks_by_source)
# 5
clicks_pivot = clicks_by_source.pivot(columns='is_click',index='utm_source',values='user_id').reset_index()
#print(clicks_pivot)
# 6
clicks_pivot['percent_clicked'] = clicks_pivot[True] / (clicks_pivot[True] + clicks_pivot[False])
#print(clicks_pivot)
# 7
print(ad_clicks.groupby('experimental_group').user_id.count().reset_index())
# 8
#print(ad_clicks.groupby(['experimental_group', 'is_click']).user_id.count().reset_index())
ab_test = ad_clicks.groupby(['experimental_group', 'is_click']).user_id.count().reset_index()
ab_test_pivot = ab_test.pivot(columns='is_click',index='experimental_group',values='user_id')
print(ab_test_pivot)
# 9
a_clicks = ad_clicks[ad_clicks.experimental_group == 'A']
b_clicks = ad_clicks[ad_clicks.experimental_group == 'B']
#print(a_clicks)
#print(b_clicks)
# 10
# group a
a_clicks_group = a_clicks.groupby(['is_click', 'day']).user_id.count().reset_index()
#print(a_clicks_group)
a_clicks_group_pivot = a_clicks_group.pivot(columns='is_click',index='day',values='user_id')
#print(a_clicks_group_pivot)
a_clicks_group_pivot['percent_clicked'] = a_clicks_group_pivot[True] / (a_clicks_group_pivot[True] + a_clicks_group_pivot[False])
print(a_clicks_group_pivot)
# group b
b_clicks_group = b_clicks.groupby(['is_click', 'day']).user_id.count().reset_index()
#print(b_clicks_group)
b_clicks_group_pivot = b_clicks_group.pivot(columns='is_click',index='day',values='user_id')
#print(b_clicks_group_pivot)
b_clicks_group_pivot['percent_clicked'] = b_clicks_group_pivot[True] / (b_clicks_group_pivot[True] + b_clicks_group_pivot[False])
print(b_clicks_group_pivot)

                                user_id utm_source           day  \
0  008b7c6c-7272-471e-b90e-930d548bd8d7     google  6 - Saturday
1  009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook    7 - Sunday
2  00f5d532-ed58-4570-b6d2-768df5f41aed    twitter   2 - Tuesday
3  011adc64-0f44-4fd9-a0bb-f1506d2ad439     google   2 - Tuesday
4  012137e6-7ae7-4649-af68-205b4702169c   facebook    7 - Sunday

  ad_click_timestamp experimental_group
0               7:18                  A
1                NaN                  B
2                NaN                  A
3                NaN                  B
4                NaN                  B
  experimental_group  user_id
0                  A      827
1                  B      827
is_click            False  True
experimental_group
A                     517    310
B                     572    255
is_click       False  True  percent_clicked
day
1 - Monday        70    43         0.380531
2 - Tuesday       76    43         0.361345
3 - Wednesday     86    38         0.306452
4 - Thursday      69    47         0.405172
5 - Friday        77    51         0.398438
6 - Saturday      73    45         0.381356
7 - Sunday        66    43         0.394495
is_click       False  True  percent_clicked
day
1 - Monday        81    32         0.283186
2 - Tuesday       74    45         0.378151
3 - Wednesday     89    35         0.282258
4 - Thursday      87    29         0.250000
5 - Friday        90    38         0.296875
6 - Saturday      76    42         0.355932
7 - Sunday        75    34         0.311927

# Unit 2 Day 11
## Working with Multiple Tables in Pandas

In [20]:
import pandas as pd

orders = pd.read_csv('unit2_orders2.csv')
products = pd.read_csv('unit2_products2.csv')
customers = pd.read_csv('unit2_customers.csv')

print(orders)
print(products)
print(customers)

order_3_description = 'thing-a-ma-jig'
order_5_phone_number = '112-358-1321'

   order_id  customer_id  product_id  quantity   timestamp
0         1            2           3         1  2017-01-01
1         2            2           2         3  2017-01-01
2         3            3           1         1  2017-01-01
3         4            3           2         2  2017-02-01
4         5            3           3         3  2017-02-01
5         6            1           4         2  2017-03-01
6         7            1           1         1  2017-02-02
7         8            1           4         1  2017-02-02
   product_id         description  price
0           1      thing-a-ma-jig      5
1           2  whatcha-ma-call-it     10
2           3          doo-hickey      7
3           4               gizmo      3
   customer_id customer_name        address  phone_number
0            1    John Smith   123 Main St.  212-123-4567
1            2      Jane Doe  456 Park Ave.  949-867-5309
2            3     Joe Schmo   798 Broadway  112-358-1321

### Inner Merge
* Use `pd.merge(DataFrame1, DataFrame2)`
* Use `DataFram1.merge(DataFrame2).merge(DataFrame3)`...

In [21]:
import pandas as pd

sales = pd.read_csv('unit2_sales.csv')
print(sales)
targets = pd.read_csv('unit2_targets.csv')
print(targets)
sales_vs_targets = pd.merge(sales, targets)
print(sales_vs_targets)
crushing_it = sales_vs_targets[sales_vs_targets.revenue > sales_vs_targets.target]
print(crushing_it)

      month  revenue
0   January      300
1  February      290
2     March      310
3     April      325
4       May      475
5      June      495
      month  target
0   January     310
1  February     270
2     March     300
3     April     350
4       May     475
5      June     500
      month  revenue  target
0   January      300     310
1  February      290     270
2     March      310     300
3     April      325     350
4       May      475     475
5      June      495     500
      month  revenue  target
1  February      290     270
2     March      310     300

In [22]:
import pandas as pd

sales = pd.read_csv('unit2_sales.csv')
print(sales)
targets = pd.read_csv('unit2_targets.csv')
print(targets)
men_women = pd.read_csv('unit2_men_women_sales.csv')
all_data = sales.merge(targets).merge(men_women)
print(all_data)
results = all_data[(all_data.revenue > all_data.target) & (all_data.women > all_data.men)]

      month  revenue
0   January      300
1  February      290
2     March      310
3     April      325
4       May      475
5      June      495
      month  target
0   January     310
1  February     270
2     March     300
3     April     350
4       May     475
5      June     500
      month  revenue  target  men  women
0   January      300     310   30     35
1  February      290     270   29     35
2     March      310     300   31     29
3     April      325     350   32     28
4       May      475     475   47     50
5      June      495     500   49     45

### Merge on Specific Columns
* Use `pd.merge(DataFrame1, DataFramd2.rename(columns={'old_name': 'new_name'}))`
* Use `pd.merge(DataFrame1, DataFramd2, left_on='name_in_DataFrame1', right_on='name_in_DataFrame2', suffixes=['_suffix1', '_suffix2'])`

### Outer Merge
* An Outer Join would include all rows from both tables, even if they don't match.
  * Any missing values are filled in with None or nan (which stands for "Not a Number").
* Use `pd.merge(DataFrame1, DataFramd2, how='outer')`

### Left Merge
* A Left Merge includes all rows from the first (left) table, but only rows from the second (right) table that match the first table.
* Use `pd.merge(DataFrame1, DataFramd2, how='left')`

In [23]:
orders = pd.read_csv('unit2_orders3.csv')
print(orders)
products = pd.read_csv('unit2_products3.csv')
print(products)
orders_products = pd.merge(orders, products.rename(columns={'id':'product_id'}))
print(orders_products)

   id  product_id  customer_id  quantity   timestamp
0   1           3            2         1  2017-01-01
1   2           2            2         3  2017-01-01
2   3           1            3         1  2017-01-01
3   4           2            3         2  2016-02-01
4   5           3            3         3  2017-02-01
5   6           4            1         2  2017-03-01
6   7           1            1         1  2017-02-02
7   8           4            1         1  2017-02-02
   id         description  price
0   1      thing-a-ma-jig      5
1   2  whatcha-ma-call-it     10
2   3          doo-hickey      7
3   4               gizmo      3
   id  product_id  customer_id  quantity   timestamp         description  \
0   1           3            2         1  2017-01-01          doo-hickey
1   5           3            3         3  2017-02-01          doo-hickey
2   2           2            2         3  2017-01-01  whatcha-ma-call-it
3   4           2            3         2  2016-02-01  whatcha-ma-call-it
4   3           1            3         1  2017-01-01      thing-a-ma-jig
5   7           1            1         1  2017-02-02      thing-a-ma-jig
6   6           4            1         2  2017-03-01               gizmo
7   8           4            1         1  2017-02-02               gizmo

   price
0      7
1      7
2     10
3     10
4      5
5      5
6      3
7      3

In [24]:
orders = pd.read_csv('unit2_orders4.csv')
print(orders)
products = pd.read_csv('unit2_products4.csv')
print(products)
orders_products = pd.merge(orders,products,left_on='product_id',right_on='id', suffixes=['_orders','_products'])
print(orders_products)

   id  product_id  customer_id  quantity   timestamp
0   1           3            2         1  2017-01-01
1   2           2            2         3  2017-01-01
2   3           1            3         1  2017-01-01
3   4           2            3         2  2016-02-01
4   5           3            3         3  2017-02-01
5   6           4            1         2  2017-03-01
6   7           1            1         1  2017-02-02
7   8           4            1         1  2017-02-02
   id         description  price
0   1      thing-a-ma-jig      5
1   2  whatcha-ma-call-it     10
2   3          doo-hickey      7
3   4               gizmo      3
   id_orders  product_id  customer_id  quantity   timestamp  id_products  \
0          1           3            2         1  2017-01-01            3
1          5           3            3         3  2017-02-01            3
2          2           2            2         3  2017-01-01            2
3          4           2            3         2  2016-02-01            2
4          3           1            3         1  2017-01-01            1
5          7           1            1         1  2017-02-02            1
6          6           4            1         2  2017-03-01            4
7          8           4            1         1  2017-02-02            4

          description  price
0          doo-hickey      7
1          doo-hickey      7
2  whatcha-ma-call-it     10
3  whatcha-ma-call-it     10
4      thing-a-ma-jig      5
5      thing-a-ma-jig      5
6               gizmo      3
7               gizmo      3

In [25]:
# Mismatched Merges
orders = pd.read_csv('unit2_orders5.csv')
products = pd.read_csv('unit2_products5.csv')
print(orders)
print(products)
merged_df = pd.merge(orders,products)
print(merged_df) # only merge the rows exist in both data frame
# when we merge two DataFrames whose rows don't match perfectly, we lose the unmatched rows.

   id  product_id  customer_id  quantity   timestamp
0   1           3            2         1  2017-01-01
1   2           2            2         3  2017-01-01
2   3           5            1         1  2017-01-01
3   4           2            3         2  2016-02-01
4   5           3            3         3  2017-02-01
   product_id         description  price
0           1      thing-a-ma-jig      5
1           2  whatcha-ma-call-it     10
2           3          doo-hickey      7
3           4               gizmo      3
   id  product_id  customer_id  quantity   timestamp         description  \
0   1           3            2         1  2017-01-01          doo-hickey
1   5           3            3         3  2017-02-01          doo-hickey
2   2           2            2         3  2017-01-01  whatcha-ma-call-it
3   4           2            3         2  2016-02-01  whatcha-ma-call-it

   price
0      7
1      7
2     10
3     10

In [26]:
store_a = pd.read_csv('unit2_store_a.csv')
print(store_a)
store_b = pd.read_csv('unit2_store_b.csv')
print(store_b)
store_a_b_outer = pd.merge(store_a, store_b,how='outer')
print(store_a_b_outer)

          item  store_a_inventory
0       hammer                 12
1  screwdriver                 15
2        nails                200
3       screws                350
4          saw                  6
5    duct tape                150
6       wrench                 12
7     pvc pipe                 54
            item  store_b_inventory
0         hammer                  6
1          nails                250
2            saw                  6
3      duct tape                150
4       pvc pipe                 54
5           rake                 10
6         shovel                 15
7  wooden dowels                192
             item  store_a_inventory  store_b_inventory
0          hammer               12.0                6.0
1     screwdriver               15.0                NaN
2           nails              200.0              250.0
3          screws              350.0                NaN
4             saw                6.0                6.0
5       duct tape              150.0              150.0
6          wrench               12.0                NaN
7        pvc pipe               54.0               54.0
8            rake                NaN               10.0
9          shovel                NaN               15.0
10  wooden dowels                NaN              192.0

In [27]:
store_a = pd.read_csv('unit2_store_a.csv')
print(store_a)
store_b = pd.read_csv('unit2_store_b.csv')
print(store_b)
# 1
store_a_b_left = pd.merge(store_a,store_b,how='left')
print(store_a_b_left)
# 2
store_b_a_left = pd.merge(store_b, store_a,how='left')
print(store_b_a_left)

          item  store_a_inventory
0       hammer                 12
1  screwdriver                 15
2        nails                200
3       screws                350
4          saw                  6
5    duct tape                150
6       wrench                 12
7     pvc pipe                 54
            item  store_b_inventory
0         hammer                  6
1          nails                250
2            saw                  6
3      duct tape                150
4       pvc pipe                 54
5           rake                 10
6         shovel                 15
7  wooden dowels                192
          item  store_a_inventory  store_b_inventory
0       hammer                 12                6.0
1  screwdriver                 15                NaN
2        nails                200              250.0
3       screws                350                NaN
4          saw                  6                6.0
5    duct tape                150              150.0
6       wrench                 12                NaN
7     pvc pipe                 54               54.0
            item  store_b_inventory  store_a_inventory
0         hammer                  6               12.0
1          nails                250              200.0
2            saw                  6                6.0
3      duct tape                150              150.0
4       pvc pipe                 54               54.0
5           rake                 10                NaN
6         shovel                 15                NaN
7  wooden dowels                192                NaN

### Concatenate DataFrames
* Use `pd.concat([df1, df2, df2, ...])`

In [28]:
bakery = pd.read_csv('unit2_bakery.csv')
print(bakery)
ice_cream = pd.read_csv('unit2_ice_cream.csv')
print(ice_cream)
menu = pd.concat([bakery,ice_cream])
print(menu)

                  item  price
0               cookie   2.50
1              brownie   3.50
2        slice of cake   4.75
3  slice of cheesecake   4.75
4         slice of pie   5.00
                              item  price
0     scoop of chocolate ice cream   3.00
1       scoop of vanilla ice cream   2.95
2    scoop of strawberry ice cream   3.05
3  scoop of cookie dough ice cream   3.25
                              item  price
0                           cookie   2.50
1                          brownie   3.50
2                    slice of cake   4.75
3              slice of cheesecake   4.75
4                     slice of pie   5.00
0     scoop of chocolate ice cream   3.00
1       scoop of vanilla ice cream   2.95
2    scoop of strawberry ice cream   3.05
3  scoop of cookie dough ice cream   3.25

In [29]:
visits = pd.read_csv('unit2_visits.csv', parse_dates=[1])
checkouts = pd.read_csv('unit2_checkouts.csv', parse_dates=[1])

print(visits)
print(checkouts)
v_to_c = pd.merge(visits, checkouts)
v_to_c['time'] = v_to_c.checkout_time - v_to_c.visit_time
print(v_to_c)
print(v_to_c.time.mean())

                                 user_id          visit_time
0   319350b4-9951-47ef-b3a7-6b252099905f 2017-02-21 07:16:00
1   7435ec9f-576d-4ebd-8791-361b128fca77 2017-05-16 08:37:00
2   0b061e73-f709-42fa-8d1a-5f68176ff154 2017-04-12 19:32:00
3   9133d6f0-e68b-4c8d-bafd-ff2825e8dafe 2017-08-18 04:32:00
4   08d13edb-071c-4cfb-9ee4-8f377d0e932a 2017-07-08 06:24:00
5   c7192ab9-e033-4b69-971d-4bd92631342e 2017-10-05 09:16:00
6   c4dac0f2-2fa9-48a8-b056-c3b2a5a5c683 2017-07-09 14:19:00
7   f028e9dd-77d0-4002-83f6-372a4837fda6 2017-10-27 08:46:00
8   e43cf28f-7d08-4019-bd66-ddf7dfd2e034 2017-11-12 01:47:00
9   746631d2-35d5-441e-a21b-e5f39442f981 2017-06-19 23:34:00
10  a0fc94a2-4a80-4a33-994b-75783066ac62 2017-05-11 13:07:00
11  e2c24ee0-7fdf-4400-abde-b36378fe5ce6 2017-07-04 15:33:00
12  78751233-c0de-44fb-bc2f-822bd9dd9be7 2017-01-23 05:38:00
13  fbcec4bc-f191-4c0c-870b-d22728ad1b18 2017-01-24 17:41:00
14  e6c7ecb9-4710-4cbd-ad02-c43971ebbe7f 2017-09-27 16:10:00
15  0c682ddd-144a-4743-9c82-dbd942fdea52 2017-08-15 23:38:00
16  fe07fc99-3943-4000-99a5-422957a42ea1 2017-10-07 15:08:00
17  bb6d2daf-bcf2-4970-b45d-33402cc1c45d 2017-07-04 21:22:00
18  ad7a3539-ad48-4b0e-bcc3-8c0dff722908 2017-06-13 08:28:00
19  10dbd3c5-d610-44e9-9994-110a7950b6b4 2017-08-09 21:01:00
20  9e744240-18e8-4da0-9e05-89b116245c15 2017-11-02 20:01:00
21  b2b04aa6-3ef1-46d6-939b-215126b4b91b 2017-05-03 13:15:00
22  f8123e12-d349-4efe-ae65-9494630bee6c 2017-02-22 13:16:00
23  6aee3eda-65f2-437f-88b2-cf7e2b94fcdc 2017-10-17 10:17:00
24  ee9f8ae4-5450-4c92-ae54-edd44cd0482e 2017-05-12 14:29:00
25  0d798d59-fb81-40ae-8ab1-d4beaffe8715 2017-01-18 17:26:00
26  f5f90dcf-15a0-432b-9886-9e4b5907a1cc 2017-07-10 11:39:00
27  c54a72a7-42db-4d19-b897-944f37cf386d 2017-01-02 17:20:00
28  d7a50dcf-e6d7-44af-87a7-9cc68f303ece 2017-11-05 08:15:00
29  65599d0d-76c2-4ad4-a717-70f12a187f1a 2017-02-15 07:21:00
..                                   ...                 ...
70  280c9dcb-2c9f-4f33-ada1-92196c0b1d37 2017-04-10 14:55:00
71  f74519df-e961-4841-acdb-2d47da194aba 2017-11-17 21:05:00
72  7fe800cc-46e8-427c-a7af-f27198d305a1 2017-01-18 12:50:00
73  0fbf570b-bc50-4f9c-ad63-9070e7d888b6 2017-08-08 23:50:00
74  6a504e55-b59c-416d-beda-4194c89066e6 2017-02-25 15:54:00
75  fe90a9f4-960a-4a0d-9160-e562adb79365 2017-11-09 09:04:00
76  52b650a4-f315-4947-804f-19df5f971d85 2017-07-05 21:15:00
77  9812465d-fded-43c4-8685-3e96446f6cc7 2017-07-19 17:02:00
78  66b4a07f-224b-4f83-91b2-b2d27c9dbe73 2017-06-23 14:17:00
79  f41d2868-515d-49a2-b48c-e4f33e5d9b69 2017-09-07 16:40:00
80  e0e3191d-4adb-4b43-8815-0ab43815c4d7 2017-11-27 16:30:00
81  43db76fc-d522-450d-a371-ef2a683d5bfd 2017-03-26 21:11:00
82  1a35b7eb-f603-407d-91be-a2c3304066fd 2017-08-15 21:09:00
83  27041dde-19da-4571-9a69-46ca3619b44c 2017-09-08 12:12:00
84  b9644df3-e2f6-4226-8df1-ac1945952494 2017-03-16 10:13:00
85  8b4dbf70-db73-4bc6-88fe-fc8aaeae9277 2017-11-22 15:02:00
86  b7953447-00a8-42be-99d2-b511f4e9c12b 2017-04-24 10:13:00
87  2f1e93f2-4d40-45e1-8371-7c65660f6bf9 2017-10-25 19:42:00
88  2d747792-db15-4549-abb8-ef352884b3db 2017-01-16 18:10:00
89  23a8d1be-3f5c-4b59-aed7-c7f19c51612b 2017-08-11 13:49:00
90  c09b76e2-3a95-426c-ae76-c1e0f6a15aee 2017-06-07 12:24:00
91  2da32318-0fd3-4432-85da-cb55e3bdd2ec 2017-07-16 10:11:00
92  a9def5d7-dba9-4175-a2da-98c2d2854984 2017-08-11 07:29:00
93  41efeead-9983-45f3-bec1-44887a03f6ab 2017-09-26 14:22:00
94  8d9ac96c-16be-418e-8df4-1a6202d0b36e 2017-10-07 10:23:00
95  442efd1c-8d7b-4d6a-83be-8f2a9e08b34f 2017-02-19 11:20:00
96  5679519b-a901-4970-8656-dbf60ffb618d 2017-07-20 04:23:00
97  26deb2d5-1d7e-4774-bf6e-1df2ee9ee59d 2017-09-06 07:29:00
98  fff8f87a-e4a2-4f2c-b3d4-93a4ece95c4f 2017-06-06 23:42:00
99  42617776-2850-431d-9262-a9c11e5ad17f 2017-02-10 10:49:00

[100 rows x 2 columns]
                                 user_id       checkout_time
0   fe90a9f4-960a-4a0d-9160-e562adb79365 2017-11-09 09:25:00
1   1a35b7eb-f603-407d-91be-a2c3304066fd 2017-08-15 21:25:00
2   e2c24ee0-7fdf-4400-abde-b36378fe5ce6 2017-07-04 15:39:00
3   10dbd3c5-d610-44e9-9994-110a7950b6b4 2017-08-09 21:07:00
4   f028e9dd-77d0-4002-83f6-372a4837fda6 2017-10-27 08:57:00
5   b7953447-00a8-42be-99d2-b511f4e9c12b 2017-04-24 10:20:00
6   280c9dcb-2c9f-4f33-ada1-92196c0b1d37 2017-04-10 14:57:00
7   319350b4-9951-47ef-b3a7-6b252099905f 2017-02-21 07:27:00
8   08d13edb-071c-4cfb-9ee4-8f377d0e932a 2017-07-08 06:32:00
9   cb602c66-1366-467a-8bee-52477310cf42 2017-07-03 06:32:00
10  62173c69-bec8-4a5d-951c-b860df94adc2 2017-05-04 00:08:00
11  34b2bf31-9ce0-4bb7-8f18-624ff4f4e904 2017-02-13 15:39:00
12  2d747792-db15-4549-abb8-ef352884b3db 2017-01-16 18:30:00
13  ccd0db8b-5e94-4103-a0b0-14ba5289c6f3 2017-08-19 06:12:00
14  7435ec9f-576d-4ebd-8791-361b128fca77 2017-05-16 08:49:00
15  147d51cd-95d7-48f7-871d-112e7e7f47fb 2017-06-09 14:09:00
16  2f1e93f2-4d40-45e1-8371-7c65660f6bf9 2017-10-25 19:49:00
17  f8123e12-d349-4efe-ae65-9494630bee6c 2017-02-22 13:44:00
18  fe07fc99-3943-4000-99a5-422957a42ea1 2017-10-07 15:25:00
19  2f1e93f2-4d40-45e1-8371-7c65660f6bf9 2017-10-25 20:05:00
20  ad7a3539-ad48-4b0e-bcc3-8c0dff722908 2017-06-13 08:40:00
21  b2b04aa6-3ef1-46d6-939b-215126b4b91b 2017-05-03 13:19:00
22  5679519b-a901-4970-8656-dbf60ffb618d 2017-07-20 04:24:00
23  fff8f87a-e4a2-4f2c-b3d4-93a4ece95c4f 2017-06-07 00:11:00
24  0d798d59-fb81-40ae-8ab1-d4beaffe8715 2017-01-18 17:48:00
25  147d51cd-95d7-48f7-871d-112e7e7f47fb 2017-06-09 14:09:00
26  10dbd3c5-d610-44e9-9994-110a7950b6b4 2017-08-09 21:04:00
27  9e744240-18e8-4da0-9e05-89b116245c15 2017-11-02 20:04:00
28  d2ae16fa-abc6-4755-af80-5010a7c6a103 2017-04-19 03:21:00
29  851b52d1-31e9-468d-834f-5363fee108ac 2017-09-21 22:06:00
..                                   ...                 ...
50  3a46dc74-4505-4a1a-8dde-4268a7484321 2017-09-17 23:00:00
51  23a8d1be-3f5c-4b59-aed7-c7f19c51612b 2017-08-11 14:11:00
52  8d9ac96c-16be-418e-8df4-1a6202d0b36e 2017-10-07 10:24:00
53  cc90d623-e2d8-468b-aa8b-912d7b9b67c8 2017-02-17 18:22:00
54  8d9ac96c-16be-418e-8df4-1a6202d0b36e 2017-10-07 10:52:00
55  62173c69-bec8-4a5d-951c-b860df94adc2 2017-05-04 00:07:00
56  cc90d623-e2d8-468b-aa8b-912d7b9b67c8 2017-02-17 18:27:00
57  0d798d59-fb81-40ae-8ab1-d4beaffe8715 2017-01-18 17:38:00
58  34b2bf31-9ce0-4bb7-8f18-624ff4f4e904 2017-02-13 15:25:00
59  6d746f96-30eb-49df-8131-9ab61e8b9b20 2017-06-20 07:54:00
60  287c13f5-9a9a-4c3a-9f0d-13853e8aad9b 2017-03-27 23:44:00
61  f41d2868-515d-49a2-b48c-e4f33e5d9b69 2017-09-07 16:47:00
62  67905d3e-5332-4927-a8ca-7ae9daabc7b8 2017-05-20 03:44:00
63  31f1be0d-4502-4616-a7d6-a90163b8bb54 2017-11-11 03:57:00
64  d722f212-04e9-482d-8f72-9d0df4cc8e6a 2017-02-21 20:03:00
65  c4dac0f2-2fa9-48a8-b056-c3b2a5a5c683 2017-07-09 14:39:00
66  3e5aa90a-279f-4ef8-99a2-9262604e9acc 2017-04-14 04:25:00
67  7fe800cc-46e8-427c-a7af-f27198d305a1 2017-01-18 13:09:00
68  f5f90dcf-15a0-432b-9886-9e4b5907a1cc 2017-07-10 12:03:00
69  a0fc94a2-4a80-4a33-994b-75783066ac62 2017-05-11 13:31:00
70  65599d0d-76c2-4ad4-a717-70f12a187f1a 2017-02-15 07:27:00
71  b2b04aa6-3ef1-46d6-939b-215126b4b91b 2017-05-03 13:25:00
72  c4dac0f2-2fa9-48a8-b056-c3b2a5a5c683 2017-07-09 14:42:00
73  0b6b993f-3364-46ee-9baa-12b7fa546927 2017-03-06 23:59:00
74  9812465d-fded-43c4-8685-3e96446f6cc7 2017-07-19 17:15:00
75  7fe800cc-46e8-427c-a7af-f27198d305a1 2017-01-18 13:14:00
76  43db76fc-d522-450d-a371-ef2a683d5bfd 2017-03-26 21:31:00
77  851b52d1-31e9-468d-834f-5363fee108ac 2017-09-21 22:24:00
78  7435ec9f-576d-4ebd-8791-361b128fca77 2017-05-16 08:55:00
79  319350b4-9951-47ef-b3a7-6b252099905f 2017-02-21 07:40:00

[80 rows x 2 columns]
                                 user_id          visit_time  \
0   319350b4-9951-47ef-b3a7-6b252099905f 2017-02-21 07:16:00
1   319350b4-9951-47ef-b3a7-6b252099905f 2017-02-21 07:16:00
2   7435ec9f-576d-4ebd-8791-361b128fca77 2017-05-16 08:37:00
3   7435ec9f-576d-4ebd-8791-361b128fca77 2017-05-16 08:37:00
4   08d13edb-071c-4cfb-9ee4-8f377d0e932a 2017-07-08 06:24:00
5   c4dac0f2-2fa9-48a8-b056-c3b2a5a5c683 2017-07-09 14:19:00
6   c4dac0f2-2fa9-48a8-b056-c3b2a5a5c683 2017-07-09 14:19:00
7   c4dac0f2-2fa9-48a8-b056-c3b2a5a5c683 2017-07-09 14:19:00
8   c4dac0f2-2fa9-48a8-b056-c3b2a5a5c683 2017-07-09 14:19:00
9   f028e9dd-77d0-4002-83f6-372a4837fda6 2017-10-27 08:46:00
10  746631d2-35d5-441e-a21b-e5f39442f981 2017-06-19 23:34:00
11  746631d2-35d5-441e-a21b-e5f39442f981 2017-06-19 23:34:00
12  a0fc94a2-4a80-4a33-994b-75783066ac62 2017-05-11 13:07:00
13  e2c24ee0-7fdf-4400-abde-b36378fe5ce6 2017-07-04 15:33:00
14  e6c7ecb9-4710-4cbd-ad02-c43971ebbe7f 2017-09-27 16:10:00
15  fe07fc99-3943-4000-99a5-422957a42ea1 2017-10-07 15:08:00
16  ad7a3539-ad48-4b0e-bcc3-8c0dff722908 2017-06-13 08:28:00
17  ad7a3539-ad48-4b0e-bcc3-8c0dff722908 2017-06-13 08:28:00
18  10dbd3c5-d610-44e9-9994-110a7950b6b4 2017-08-09 21:01:00
19  10dbd3c5-d610-44e9-9994-110a7950b6b4 2017-08-09 21:01:00
20  9e744240-18e8-4da0-9e05-89b116245c15 2017-11-02 20:01:00
21  b2b04aa6-3ef1-46d6-939b-215126b4b91b 2017-05-03 13:15:00
22  b2b04aa6-3ef1-46d6-939b-215126b4b91b 2017-05-03 13:15:00
23  b2b04aa6-3ef1-46d6-939b-215126b4b91b 2017-05-03 13:15:00
24  f8123e12-d349-4efe-ae65-9494630bee6c 2017-02-22 13:16:00
25  0d798d59-fb81-40ae-8ab1-d4beaffe8715 2017-01-18 17:26:00
26  0d798d59-fb81-40ae-8ab1-d4beaffe8715 2017-01-18 17:26:00
27  f5f90dcf-15a0-432b-9886-9e4b5907a1cc 2017-07-10 11:39:00
28  f5f90dcf-15a0-432b-9886-9e4b5907a1cc 2017-07-10 11:39:00
29  65599d0d-76c2-4ad4-a717-70f12a187f1a 2017-02-15 07:21:00
..                                   ...                 ...
50  cb602c66-1366-467a-8bee-52477310cf42 2017-07-03 06:15:00
51  3a46dc74-4505-4a1a-8dde-4268a7484321 2017-09-17 22:34:00
52  67905d3e-5332-4927-a8ca-7ae9daabc7b8 2017-05-20 03:25:00
53  d2ae16fa-abc6-4755-af80-5010a7c6a103 2017-04-19 03:05:00
54  20fee849-260d-439f-a63c-bc2a0ebb6eb9 2017-01-04 10:43:00
55  010db559-8316-46b5-be65-207cecba63a6 2017-04-05 10:34:00
56  010db559-8316-46b5-be65-207cecba63a6 2017-04-05 10:34:00
57  287c13f5-9a9a-4c3a-9f0d-13853e8aad9b 2017-03-27 23:30:00
58  280c9dcb-2c9f-4f33-ada1-92196c0b1d37 2017-04-10 14:55:00
59  f74519df-e961-4841-acdb-2d47da194aba 2017-11-17 21:05:00
60  7fe800cc-46e8-427c-a7af-f27198d305a1 2017-01-18 12:50:00
61  7fe800cc-46e8-427c-a7af-f27198d305a1 2017-01-18 12:50:00
62  fe90a9f4-960a-4a0d-9160-e562adb79365 2017-11-09 09:04:00
63  52b650a4-f315-4947-804f-19df5f971d85 2017-07-05 21:15:00
64  9812465d-fded-43c4-8685-3e96446f6cc7 2017-07-19 17:02:00
65  f41d2868-515d-49a2-b48c-e4f33e5d9b69 2017-09-07 16:40:00
66  43db76fc-d522-450d-a371-ef2a683d5bfd 2017-03-26 21:11:00
67  1a35b7eb-f603-407d-91be-a2c3304066fd 2017-08-15 21:09:00
68  b7953447-00a8-42be-99d2-b511f4e9c12b 2017-04-24 10:13:00
69  b7953447-00a8-42be-99d2-b511f4e9c12b 2017-04-24 10:13:00
70  2f1e93f2-4d40-45e1-8371-7c65660f6bf9 2017-10-25 19:42:00
71  2f1e93f2-4d40-45e1-8371-7c65660f6bf9 2017-10-25 19:42:00
72  2d747792-db15-4549-abb8-ef352884b3db 2017-01-16 18:10:00
73  2d747792-db15-4549-abb8-ef352884b3db 2017-01-16 18:10:00
74  2d747792-db15-4549-abb8-ef352884b3db 2017-01-16 18:10:00
75  23a8d1be-3f5c-4b59-aed7-c7f19c51612b 2017-08-11 13:49:00
76  8d9ac96c-16be-418e-8df4-1a6202d0b36e 2017-10-07 10:23:00
77  8d9ac96c-16be-418e-8df4-1a6202d0b36e 2017-10-07 10:23:00
78  5679519b-a901-4970-8656-dbf60ffb618d 2017-07-20 04:23:00
79  fff8f87a-e4a2-4f2c-b3d4-93a4ece95c4f 2017-06-06 23:42:00

         checkout_time     time
0  2017-02-21 07:27:00 00:11:00
1  2017-02-21 07:40:00 00:24:00
2  2017-05-16 08:49:00 00:12:00
3  2017-05-16 08:55:00 00:18:00
4  2017-07-08 06:32:00 00:08:00
5  2017-07-09 14:26:00 00:07:00
6  2017-07-09 14:24:00 00:05:00
7  2017-07-09 14:39:00 00:20:00
8  2017-07-09 14:42:00 00:23:00
9  2017-10-27 08:57:00 00:11:00
10 2017-06-19 23:52:00 00:18:00
11 2017-06-19 23:47:00 00:13:00
12 2017-05-11 13:31:00 00:24:00
13 2017-07-04 15:39:00 00:06:00
14 2017-09-27 16:30:00 00:20:00
15 2017-10-07 15:25:00 00:17:00
16 2017-06-13 08:40:00 00:12:00
17 2017-06-13 08:50:00 00:22:00
18 2017-08-09 21:07:00 00:06:00
19 2017-08-09 21:04:00 00:03:00
20 2017-11-02 20:04:00 00:03:00
21 2017-05-03 13:19:00 00:04:00
22 2017-05-03 13:15:00 00:00:00
23 2017-05-03 13:25:00 00:10:00
24 2017-02-22 13:44:00 00:28:00
25 2017-01-18 17:48:00 00:22:00
26 2017-01-18 17:38:00 00:12:00
27 2017-07-10 12:08:00 00:29:00
28 2017-07-10 12:03:00 00:24:00
29 2017-02-15 07:27:00 00:06:00
..                 ...      ...
50 2017-07-03 06:37:00 00:22:00
51 2017-09-17 23:00:00 00:26:00
52 2017-05-20 03:44:00 00:19:00
53 2017-04-19 03:21:00 00:16:00
54 2017-01-04 10:58:00 00:15:00
55 2017-04-05 10:42:00 00:08:00
56 2017-04-05 10:35:00 00:01:00
57 2017-03-27 23:44:00 00:14:00
58 2017-04-10 14:57:00 00:02:00
59 2017-11-17 21:08:00 00:03:00
60 2017-01-18 13:09:00 00:19:00
61 2017-01-18 13:14:00 00:24:00
62 2017-11-09 09:25:00 00:21:00
63 2017-07-05 21:42:00 00:27:00
64 2017-07-19 17:15:00 00:13:00
65 2017-09-07 16:47:00 00:07:00
66 2017-03-26 21:31:00 00:20:00
67 2017-08-15 21:25:00 00:16:00
68 2017-04-24 10:20:00 00:07:00
69 2017-04-24 10:26:00 00:13:00
70 2017-10-25 19:49:00 00:07:00
71 2017-10-25 20:05:00 00:23:00
72 2017-01-16 18:30:00 00:20:00
73 2017-01-16 18:10:00 00:00:00
74 2017-01-16 18:39:00 00:29:00
75 2017-08-11 14:11:00 00:22:00
76 2017-10-07 10:24:00 00:01:00
77 2017-10-07 10:52:00 00:29:00
78 2017-07-20 04:24:00 00:01:00
79 2017-06-07 00:11:00 00:29:00

[80 rows x 4 columns]

0 days 00:15:24.750000

# Unit 2 Day 12 & 13
## Project: Page Visits Funnel

In [30]:
visits = pd.read_csv('unit2_visits2.csv', parse_dates=[1])
cart = pd.read_csv('unit2_cart2.csv', parse_dates=[1])
checkout = pd.read_csv('unit2_checkout2.csv', parse_dates=[1])
purchase = pd.read_csv('unit2_purchase2.csv', parse_dates=[1])
# 1
print(visits.head())
print(cart.head())
print(checkout.head())
print(purchase.head())
# 2
visits_cart_left_merge = pd.merge(visits, cart,how='left')
#print(visits_cart_left_merge.head())
# 3
#print(visits_cart_left_merge.user_id.count())
#print(len(visits_cart_left_merge))
print('Total ' + str(len(visits_cart_left_merge)) + ' users visit.')
# 4
null_counts_cart_time = visits_cart_left_merge[visits_cart_left_merge.cart_time.isnull()]
#print(null_counts_cart_time.head())
#print(null_counts_cart_time.user_id.count())
#print(len(null_counts_cart_time))
print('There are '+ str(len(null_counts_cart_time)) + ' users don\'t put in their cart.')
# 5
not_place_in_cart = float(len(null_counts_cart_time))
total_visits = float(len(visits_cart_left_merge))
percentages_not_place_in_cart = not_place_in_cart / total_visits * 100
print(str(percentages_not_place_in_cart) + '% of users don\'t put in their cart.')
# 6
cart_checkout_left_merge = pd.merge(cart, checkout, how='left')
#print(len(cart_checkout_left_merge))
in_cart = cart_checkout_left_merge[~cart_checkout_left_merge.cart_time.isnull()]
#not_in_cart = cart_checkout_left_merge[cart_checkout_left_merge.cart_time.isnull()]
#print(len(in_cart))
#print(len(not_in_cart))
not_checkout = cart_checkout_left_merge[cart_checkout_left_merge.checkout_time.isnull()]
#print(len(not_checkout))
percentage_in_cart_but_not_checkout = float(len(not_checkout) / float(len(in_cart))) * 100.
print(str(percentage_in_cart_but_not_checkout) + '% users put in their cart but not checkout.')
# 7
all_data = visits.merge(cart,how='left').merge(cart,how='left').merge(checkout,how='left').merge(purchase,how='left')
print(all_data.head())
# 8
checkout = all_data[~all_data.checkout_time.isnull()]
#print(len(checkout))
checkout_but_not_purchase = all_data[(~all_data.checkout_time.isnull()) & (all_data.purchase_time.isnull())]
#print(len(checkout_but_not_purchase))
percentage_checkout_but_not_purchase = float(len(checkout_but_not_purchase)) / float(len(checkout)) * 100.
print(str(percentage_checkout_but_not_purchase) + '% checkout but not purchase')
# 9
print('The weakest is users don\'t put in their cart.')
# 10
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time
# 11
print(all_data.time_to_purchase)
# 12
print(all_data.time_to_purchase.mean())

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00
Total 2052 users visit.
There are 1652 users don't put in their cart.
80.50682261208577% of users don't put in their cart.
20.930232558139537% users put in their cart but not checkout.
                                user_id          visit_time  \
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
4  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00

            cart_time       checkout_time       purchase_time
0                 NaT                 NaT                 NaT
1 2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2 2017-08-20 08:31:00                 NaT                 NaT
3 2017-08-20 08:49:00                 NaT                 NaT
4                 NaT                 NaT                 NaT
14.354066985645932% checkout but not purchase
The weakest is users don't put in their cart.
0           NaT
1      00:44:00
2           NaT
3           NaT
4           NaT
5           NaT
6           NaT
7           NaT
8           NaT
9           NaT
10          NaT
11          NaT
12          NaT
13          NaT
14          NaT
15     00:38:00
16          NaT
17          NaT
18          NaT
19          NaT
20          NaT
21          NaT
22          NaT
23          NaT
24          NaT
25          NaT
26          NaT
27          NaT
28          NaT
29          NaT
         ...
2584        NaT
2585        NaT
2586        NaT
2587        NaT
2588        NaT
2589        NaT
2590        NaT
2591        NaT
2592        NaT
2593   00:46:00
2594        NaT
2595        NaT
2596        NaT
2597   00:32:00
2598   00:28:00
2599   00:11:00
2600   00:32:00
2601   00:28:00
2602   00:11:00
2603   00:32:00
2604   00:28:00
2605   00:11:00
2606        NaT
2607        NaT
2608        NaT
2609        NaT
2610        NaT
2611        NaT
2612        NaT
2613        NaT
Name: time_to_purchase, Length: 2614, dtype: timedelta64[ns]
0 days 00:44:12.988826

# Unit 2 Day 14
## Project: Board Slides for FoodWheel

In [31]:
from matplotlib import pyplot as plt
import pandas as pd
# 2
restaurants = pd.read_csv('unit2_restaurants6.csv')
# 3
print(restaurants.head())
# 4
cuisine_options_count = restaurants.cuisine.nunique()
#print(cuisine_options_count)
# 5
cuisine_counts = restaurants.groupby('cuisine').name.count().reset_index()
print(cuisine_counts)

   id                name neighborhood  cuisine
0   1          Jongro BBQ      Midtown   Korean
1   2            Pocha 32      Midtown   Korean
2   3  Nom Wah Tea Parlor    Chinatown  Chinese
3   4           Roberta’s     Brooklyn    Pizza
4   5        Speedy Romeo     Brooklyn    Pizza
      cuisine  name
0    American    10
1     Chinese    11
2     Italian     8
3    Japanese     4
4      Korean     3
5       Pizza     4
6  Vegetarian     4